@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');


body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: 'Lora', serif;

}


.year-section{
  display: flex;
  color: #000000;
  font-weight: bolder;
  justify-content: center;
  margin-top: 30px;
}