@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Poppins:ital,wght@0,100;0,300;1,200;1,400;1,600;1,700&family=Raleway:ital@1&display=swap');



body{
  overflow-x: hidden;
}

.furniture_section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 300px;
  padding-left: 100px;
  padding-right: 100px;
}

.furniture_section .box {
  width: 30%; /* Adjust as needed to leave space between images */
  background-color: #f7fafa;
  padding: 25px;
  border-radius: 5px;
  transition: 0.5s;
  margin-bottom: 20px; /* Add some bottom margin for spacing */
  box-sizing: border-box; /* Include padding and border in the width calculation */
}

.furniture_section .box:nth-child(3n) {
  margin-right: 0; /* No right margin for every third box */
}

.furniture_section .box .img-box {
  height: 275px;
  padding: 25px;
}

.furniture_section .box .img-box img {
  max-width: 100%;
  max-height: 100%;
}

.furniture_section .box .detail-box {
  margin-top: 20px; /* Adjust as needed */
}

.furniture_section .box .detail-box h5 {
  text-transform: uppercase;
  font-size: 18px;
}

.furniture_section .box .detail-box .price_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.furniture_section .box .detail-box .price_box .price_heading {
  margin-bottom: 0;
}

.furniture_section .box .detail-box .price_box a {
  color: #6bb7be;
  cursor: pointer; /* Add pointer cursor for better UX */
}

.furniture_section .box:hover {
  background-color: #e0f7fa;
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.furniture_section .box:hover .img-box img {
  transform: scale(1.1);
}

.furniture_section .box:hover .detail-box {
  margin-top: 15px; /* Adjust as needed */
}
.box.product {
  position: relative;
  padding-left: 20px;
}
.img-box{
  width: 80%;
}
.add-to-cart-link{
  color: #000000;
}
.price_box a {
  /* color: #007bff;  */
  font-weight: bold;
  text-align: right;
  text-decoration: none;
  display: inline-block;
  margin-top: 10px;
}

.price_box a:hover {
  text-decoration: underline;
}


.product-added-message {
  color: green;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;

}

.heading {
  margin-left: 50px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: x-large;
  margin-top: 0;

}
/* navbar section */
.container-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
.navbar {
  display: flex;
  
}
.navbarssection {
  
  display: flex;
  align-items: center;
  margin-left: 200px;
  list-style: none;
  
}
.navbarssection a {
  text-decoration: none;
  transition: color 0.3s ease-in-out;
  color: black;
  margin-left: 50px;
  text-transform: uppercase;
}
.quote_btn-container a {
  color: #151515;
  margin-right: 25px;
  text-transform: uppercase;
  text-decoration: none;
  
}
.quote_btn-container {
  display: flex;
  align-items: center;
  margin-left: 1100px;
  margin-top: -50px;
}

.resnav{
  display: none;
}
@media screen and (max-width: 958px) {
  .resnav {
    display: block;
  }
  .container-navbar{
    display: none;
  }
  
}




/* end navbar section */



/* slider section */
.slider_section {
  background-color: #f9fafa;
  max-height: 1000px;
  flex: 1;
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 100px;
}

h1,
p,
.btn1,
.btn2 {
  padding-left: 40px;
  padding-bottom: 5px;
}

h1 {
  font-weight: bold;
  margin-top: 100px;
  text-transform: uppercase;
}

.slider_section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 650px;
}
.slider_section #customCarousel {
  width: 100%;

}
.detail-box-slider{
  margin-top: 150px;
}

.row {
  align-items: center;
}

.slider_section .detail-box-slider .btn-box {
  display: flex;
  margin: 0 -5px;
  margin-left: 40px;
}

.slider_section .detail-box-slider .btn-box a {
  margin: 5px;
  text-align: center;
  width: 165px;
}

.slider_section .detail-box-slider .btn-box .btn1 {
  text-decoration: none;
  display: inline-block;
  padding: 10px 15px;
  background-color: #f89646;
  color: #ffffff;
  border-radius: 0;
  border: 1px solid #f89646;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.slider_section .detail-box-slider .btn-box .btn2 {
  text-decoration: none;
  display: inline-block;
  padding: 10px 15px;
  background-color: #6bb7be;
  color: #ffffff;
  border-radius: 0;
  border: 1px solid #6bb7be;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.slider_section .detail-box-slider .btn-box .btn1:hover {
  background-color: transparent;
  color: #f89646;
}

.slider_section .detail-box-slider .btn-box .btn2:hover {
  background-color: transparent;
  color: #6bb7be;
}

.heading_container {
  margin-top: 300px;
  display: grid;
}
@media screen and (max-width: 375px) {
  .slider_section .detail-box-slider .btn-box {
    flex-direction: column;
    margin: 0;
    margin-top: 10px; /* Adjust as needed */
    margin-left: 0;
  }

  .slider_section .detail-box-slider .btn-box a {
    width: auto;
  }

  .slider_section .detail-box-slider .btn-box .btn1,
  .slider_section .detail-box-slider .btn-box .btn2 {
    width: 100%;
    margin-bottom: 5px; /* Adjust as needed */
  }
}

/* slider section ends */

/* furniture section */


/* about section */
.about_section {
  display: block;
  background-color: #f9fafa;
  margin-top: 100px;
  margin-left: 80px !important;
  margin-right: 80px !important;
  height: 500px;

}

.about-image {
  width: 90%;
  margin-top: 90px;
  margin-left: 100px;
}

.about_container h2 {
  margin-left: 40px;
  margin-top: 80px;
  font-weight: bold;
}

.about-para {
  margin-top: 20px;
  text-align: justify;
  margin-right: 50px;

}

.button {
  display: inline-block;
  margin-top: 20px;
  margin-left: 40px;
  padding: 10px 40px;
  text-decoration: none;
  background-color: #6bb7be;
  color: #fff;
  border: 1px solid #6bb7be;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #fff;
  color: #6bb7be;

}

/* End  About section */

/* Blog section */
.blog_section {
  min-height: 300px;
  margin-top: 100px;
  text-transform: uppercase;
  transition: 0.5s;
}

.img-box:hover {
  box-shadow: 20px 20px 20px 20px rgba(241, 238, 238, 0.2);
}

.blog_section h2 {
  text-align: center;
}

.blog_section .box {
  margin-top: 55px;
  background-color: #ffffff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
}

.blog_section .box .img-box {
  position: relative;
}

.blog_section .box .img-box img {
  width: 125%;
}

.blog_section .box .detail-box {
  padding: 25px;
}

.blog_section .box .detail-box h5 {
  font-weight: bold;
}

.blog_section .box .detail-box p {
  font-size: 15px;
  color: #444;
  margin-right: 40px;
}

.blog_section .box .detail-box a {
  text-decoration: none;
  display: inline-block;
  padding: 10px 30px;
  background-color: #6bb7be;
  color: #ffffff;
  border-radius: 0;
  border: 1px solid #6bb7be;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.blog_section .box .detail-box a:hover {
  background-color: transparent;
  color: #6bb7be;
}
.blog_section .box:hover {
  transform: translateY(-5px); /* Add a slight upward lift on hover */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Add a box shadow on hover */
}



/* End blog section */


/*  client section */
.heading_client h2{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
 
  
}

.client_section .box {
  display: flex;
  align-items: center;
  margin: 45px;
  padding: 35px 25px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
}

.client_section .box .img-box {
  border-radius: 100%;
  border: 10px solid #6bb7be;
  /* margin-right: 25px; */
  min-width: 175px;
  max-width: 175px;
  overflow: hidden;
}

.client_section .box .img-box img {
  width: 100%;
}

.client_section .box .detail-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.client_section .box .detail-box .name {
  text-align: center;
}

.client_section .box .detail-box .name img {
  width: 25px;
  margin-bottom: 5px;
}

.client_section .box .detail-box .name h6 {
  color: #6bb7be;
  font-size: 20px;
}
.client_section .custom-carousel-prev-icon{
 left: 600%;
}
.client_section .custom-carousel-next-icon{
  right: 1000px;
}
.client_section .custom-carousel-prev-icon,
.client_section .custom-carousel-next-icon {
  position: absolute;
  width: 45px;
  height: 45px;
  border: none;
  opacity: 1;
  background-repeat: no-repeat;
  background-size: 12px;
  background-position: center;
  background-color: #6bb7be;
  border-radius: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: white;
  margin-top: -50px;
}

.client_section .custom-carousel-prev-icon::before,
.client_section .custom-carousel-next-icon::before {
  content: '\2190'; 
}

.client_section .custom-carousel-next-icon::before {
  content: '\2192'; /* Unicode arrow right character */
}

.client_section .custom-carousel-prev-icon:hover,
.client_section .custom-carousel-next-icon:hover {
  background-color: #000000;
}
@media (max-width: 500px) {
  .heading_client h2 {
    text-align: center;
    
  }
}
@media (max-width: 768px) {
  .client_section .custom-carousel-prev-icon,
  .client_section .custom-carousel-next-icon {
    top:500px;
    font-size: 16px;
   }
   .heading_client h2{
    display: flex;
    align-items: center;
    margin-right: 400px;
   }
}
@media (max-width: 768px) {
  .client_section .custom-carousel-next-icon{
    right: 250px;
  }
}
@media (max-width: 768px) {
  .client_section .custom-carousel-next-icon{
    right: 250px;
  }
}
@media (max-width: 768px) {
  .client_section .custom-carousel-prev-icon{
  left: 280px;
  }
}

@media (min-width: 769px) {
  .client_section .custom-carousel-prev-icon,
  .client_section .custom-carousel-next-icon {
    top: 380px; 
    font-size: 18px; 
  }

  .client_section .custom-carousel-next-icon {
    right: 300px;
  }

  .client_section .custom-carousel-prev-icon {
    left: 300px; 
  }
}
@media (min-width: 1197px) {
  .client_section .custom-carousel-prev-icon,
  .client_section .custom-carousel-next-icon {
    top: 380px; 
    font-size: 18px; 
  }

  .client_section .custom-carousel-next-icon {
    right: 600px;
  }

  .client_section .custom-carousel-prev-icon {
    left: 600px; 
  }
}

@media (max-width: 768px) {
  .heading_client {
    margin-left: 300px;
  }

  .client_section .box {
    margin: 20px;
    padding: 20px;
  }

  .client_section .box {
    flex-direction: column;
    text-align: center;
    margin: 45px 15px;
  }

  .client_section .box .detail-box {
    align-items: center;
  }

  .client_section .box .img-box {
    margin-right: 0;
    margin-bottom: 25px;
  }
}
@media screen and (max-width: 357px) {
  .client_section .heading_client h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 500px;
  }
}


/* End Client section */


/* contact  section */
.contact_section {
  position: relative;
  background-color: #f9fafa;;
  margin-top: 200px;
  padding-left: 80px;
  margin-left: 80px;
  margin-right: 80px;
}
.form_container{
  margin-top: -250px;
}

.contact_section .heading_container {
  margin-bottom: 25px;
 
}

.contact_section .heading_container h2 {
  text-transform: uppercase;
  font-weight: bolder;
}

.contact_section .form_container input {
  width: 100%;
  border: none;
  height: 50px;
  margin-bottom: 25px;
  padding-left: 15px;
  color: #101010;
 box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.05);
}
.contact_section .form_container Button{
  border: none;
  background-color: #6bb7be;
}
.contact_section .form_container input.message-box {
  height: 120px;
}

.contact_section .form_container button {
  border: none;
  text-transform: uppercase;
  display: inline-block;
  padding: 12px 55px;
  background-color: #6bb7be;
  color: #ffffff;
  border-radius: 0px;
  border: 1px solid #6bb7be;
  -webkit-transition: all .2s;
  transition: all .2s;
}


.contact_section .form_container button:hover {
  background-color: transparent;
  color: #6bb7be;
}
/* End contact section */


@media screen and (max-width: 998px) {
  .about-image {
    width: 200%;
    float: right;
    margin-left: 50px;
  }
  .contact_nav a {
    margin-bottom: 15px;
  }

  .about_section {
    height: 700px;
  }
}

@media screen and (max-width: 764px) {
  .about_section {
    height: 700px;
  }

  .about_section .img-box {
    margin-bottom: 45px;

  }

  .about-image {
    width: 100%;

  }
}

@media screen and (max-width: 539px) {
  .about_section {
    height: 600px;
    margin-left: 10px !important;
    margin-right: 10px !important;
  }

  .about-image {
    margin-top: 20px;
  }

  .about_container {
    margin-left: 10px;
  }

  .about-para {
    margin-right: 10px;
  }

  .button {
    margin-right: 100px;
  }
}

@media screen and (max-width: 768px) {
  

  .slider_section {
    margin-left: 20px;
    margin-right: 20px;
  }

  h1 {
    margin-top: 50px;
  }

  .heading_container {
    margin-top: 150px;
  }

  .slider_section {
    padding-top: 45px;
    padding-bottom: 75px;
  }

  .slider_section .detail_box {
    text-align: center;
    padding-left: 0;
  }

  .slider_section .img-box img {
    margin-top: 45px;
    width: 100%;
  }
}

@media screen and (max-width: 1564px) {
  .slider_section .img-box img {
    margin-top: 50px;
    width: 100%;
  }

  .slider_section .detail-box.img-box img {
    margin-top: 40px;
  }
}
.info_section {
  background-color: #191e1f;
  color: #ffffff;
  margin-top: 50px;
  margin-left: 80px;
  margin-right: 80px;
  padding-top: 45px;
  padding-bottom: 45px;
}

.info_section .contact_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 25px 0;
  text-align: center;
}
.info_top{
  margin-left: 100px;
}
.info_section .contact_nav a {
  text-decoration: none;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
}

.info_section .contact_nav a i {
  font-size: 28px;
}

.info_section .contact_nav a:hover {
  color: #f89646;
}

.info_section .info_top {
  padding: 45px 0;
}

.info_section h4 {
  text-transform: uppercase;
  position: relative;
  margin-bottom: 25px;
}

.info_section .info_links .info_links_menu {
  display: flex;
  flex-wrap: wrap;
  
}

.info_section .info_links .info_links_menu a {
  color: #ffffff;
  flex-basis: 50%;
  text-decoration: none;
}

.info_section .info_links .info_links_menu a:hover, .info_section .info_links .info_links_menu a.active {
  color: #f89646;
}

.info_section .info_post .post_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info_section .info_post .post_box .img-box {
  min-width: 65px;
  max-width: 65px;
  height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  -ms-flex-preferred-size: calc(33% - 10px);
      flex-basis: calc(33% - 10px);
  padding: 10px;
  margin: 5px;
}

.info_section .info_post .post_box .img-box img {
  max-width: 100%;
  max-height: 100%;
}

.info_section .info_post .post_box p {
  margin: 0;
}

.info_section .info_post .post_box:not(:nth-last-child(1)) {
  margin-bottom: 15px;
}

.info_section .info_form input {
  width: 100%;
  border: none;
  height: 45px;
  margin-bottom: 15px;
  padding-left: 25px;
  background-color: #eaeaea;
  outline: none;
  color: #101010;
}

.info_section .info_form button {
  display: inline-block;
  padding: 10px 45px;
  background-color: #6bb7be;
  color: #ffffff;
  border-radius: 0px;
  border: 1px solid #6bb7be;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.info_section .info_form button:hover {
  background-color: transparent;
  color: #6bb7be;
}

.info_section .info_form .social_box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 25px;
}

.info_section .info_form .social_box a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  width: 45px;
  height: 45px;
  border: 1px solid #6bb7be;
  color: #6bb7be;
  font-size: 18px;
  margin-right: 10px;
}

.info_section .info_form .social_box a:hover {
  color: #f89646;
  border-color: #f89646;
}
.info_form{
  margin-left: 50px;
}

@media (max-width: 768px) {
  
  .info_section .contact_nav {
    flex-direction: column;
    align-items: center;
    padding-bottom: 0;
  }

  .info_section .contact_nav a {
    margin-bottom: 15px;
  }

  .info_section .row>div {
    text-align: center;
  }

  .info_section .info_post .post_box {
    justify-content: center;
  }

  .info_section .info_links .info_links_menu a {
    flex-basis: 100%;
  }

  .info_form {
    margin-top: 35px;
  }

  .info_form form {
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .info_form .social_box {
    justify-content: center;
  }

  .info_form .social_box a {
    margin: 0 5px;
  }

}
@media (max-width: 576px) {
 

  .info_section .info_links .info_links_menu {
    margin-bottom: 35px;
  }

}

.year-section{
  display: flex;
  color: #000000;
  font-weight: bolder;
  justify-content: center;
  margin-top: 30px;
}