/* Base styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  
  
  h2 {
    margin-top: 20px;
  }
  
  /* Cart item styles */
  .cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .furnimage {
    width: 200px;
    margin-right: 20px;
  }
  
  .item-details {
    flex-grow: 1;
  }
  
  /* Buttons */
  button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px;
    margin-right: 10px;
    cursor: pointer;
  }
  
  /* Responsive styles */
  @media screen and (max-width: 768px) {
    .cart-item {
      flex-direction: column;
      text-align: center;
    }
  
    .furnimage {
      margin-right: 0;
      margin-bottom: 10px;
    }
  
    button {
      margin-right: 0;
      margin-top: 10px;
    }
  }
  