/* contact  section */
.contact_section {
    position: relative;
    background-color: #f9fafa;;
    margin-top: 200px;
    padding-left: 80px;
    margin-left: 80px;
    margin-right: 80px;
  }
  .form_container{
    margin-top: -250px;
  }
  
  .contact_section .heading_container {
    margin-bottom: 25px;
   
  }
  
  .contact_section .heading_container h2 {
    text-transform: uppercase;
    font-weight: bolder;
  }
  
  .contact_section .form_container input {
    width: 100%;
    border: none;
    height: 50px;
    margin-bottom: 25px;
    padding-left: 15px;
    color: #101010;
   box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.05);
  }
  .contact_section .form_container Button{
    border: none;
    background-color: #6bb7be;
  }
  .contact_section .form_container input.message-box {
    height: 120px;
  }
  
  .contact_section .form_container button {
    border: none;
    text-transform: uppercase;
    display: inline-block;
    padding: 12px 55px;
    background-color: #6bb7be;
    color: #ffffff;
    border-radius: 0px;
    border: 1px solid #6bb7be;
    -webkit-transition: all .2s;
    transition: all .2s;
  }
  
  
  .contact_section .form_container button:hover {
    background-color: transparent;
    color: #6bb7be;
  }
  /* End contact section */
  