/* navbar section */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.navbar {
  position: fixed; 
  width: 100%; 
  top: 0; 
  z-index: 1000; 
  color: black;
  text-transform: uppercase;
  
}
.logo{
  font-weight: 500;
  font-size: large;
}
.cart-notification {
  

  background-color:  #ff6348; 
  border-radius: 100%;
  color: aliceblue;
  
}

.navbar-nav .nav-link {
  color: black;
}
  
 
  


  
  
  /* end navbar section */