/* slider section */
.slider_section {
    background-color: #f9fafa;
    max-height: 1000px;
    flex: 1;
    display: flex;
    align-items: center;
    position: relative;
    margin-left: 50px;
    margin-right: 50px;
  }
  
  h1,
  p,
  .btn1,
  .btn2 {
    padding-left: 40px;
    padding-bottom: 5px;
  }
  
  .slider_section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 650px;
  }
  .slider_section #customCarousel {
    width: 100%;
  
  }
  .detail-box-slider{
  
    margin-left: 70px;
  }
  
  .row {
    align-items: center;
  }
  
  .slider_section .detail-box-slider .btn-box {
    display: flex;
    margin: 0 -5px;
    margin-left: 40px;
  }
  
  .slider_section .detail-box-slider .btn-box a {
    margin: 5px;
    text-align: center;
    width: 165px;
  }
  
  .slider_section .detail-box-slider .btn-box .btn1 {
    text-decoration: none;
    display: inline-block;
    padding: 10px 15px;
    background-color: #f89646;
    color: #ffffff;
    border-radius: 0;
    border: 1px solid #f89646;
    -webkit-transition: all .2s;
    transition: all .2s;
  }
  
  .slider_section .detail-box-slider .btn-box .btn2 {
    text-decoration: none;
    display: inline-block;
    padding: 10px 15px;
    background-color: #6bb7be;
    color: #ffffff;
    border-radius: 0;
    border: 1px solid #6bb7be;
    -webkit-transition: all .2s;
    transition: all .2s;
  }
  
  .slider_section .detail-box-slider .btn-box .btn1:hover {
    background-color: transparent;
    color: #f89646;
  }
  
  .slider_section .detail-box-slider .btn-box .btn2:hover {
    background-color: transparent;
    color: #6bb7be;
  }
  
  .heading_container {
    margin-top: 300px;
    display: grid;
  }
  
@media screen and (max-width: 768px) {
  .slider_section {
      margin-left: 20px;
      margin-right: 20px;
    }
    
 
  .slider_section .img-box img {
      margin-left: 50px;
      width: 20%;
    }
  }
 
  @media screen and (max-width: 998px) {
    .slider_section .detail-box-slider{
      margin-top: 50px;
     }
     .slider_section .detail-box-slider .btn-box {
      width: 400px;
     }
  
    
  }

  @media screen and (max-width: 1564px) {
    .slider_section .img-box img {
      margin-top: 50px;
      width: 100%;
    }
  
    .slider_section .detail-box.img-box img {
      margin-top: 40px;
    }
  }

  @media screen and (max-width: 375px) {
  .slider_section {
    margin-left: 10px; /* Adjust margin for smaller screens */
    margin-right: 10px; /* Adjust margin for smaller screens */
  }

  .slider_section .detail-box-slider .btn-box {
    flex-direction: column;
    margin: 0;
    margin-top: 10px; /* Adjust margin for smaller screens */
    margin-left: 0;
  }

  .slider_section .detail-box-slider .btn-box a {
    width: auto;
  }

  .slider_section .detail-box-slider .btn-box .btn1,
  .slider_section .detail-box-slider .btn-box .btn2 {
    width: 100%;
    margin-bottom: 5px; /* Adjust margin for smaller screens */
  }

  .heading_container {
    margin-top: 150px; /* Adjust margin for smaller screens */
  }
}

  
  /* slider section ends */
  